{% extends "base.html" %}
{% load static %}
{% block title %}User list{% endblock title%}

{% block header %}
<h2 class="col-12 my-2 py-2 bg-info">List user</h2>
{% endblock header%}
{% block content %}
<nav class="container" aria-label="Page navigation example">
	<ul class="pagination d-none">
		<li class="page-item disabled"><a class="page-link page-1" href="#1">1</a></li>
		<li class="page-item"><a class="page-link page-2" href="#2">2</a></li>
		<li class="page-item"><a class="page-link page-3" href="#3">3</a></li>
		<li class="page-item"><a class="page-link page-4" href="#4">4</a></li>
		<li class="page-item"><a class="page-link page-5" href="#5">5</a></li>
		<li class="page-item"><a class="page-link page-6" href="#6">6</a></li>
		<li class="page-item"><a class="page-link page-7" href="#7">7</a></li>
		<li class="page-item"><a class="page-link page-8" href="#8">8</a></li>
		<li class="page-item"><a class="page-link page-9" href="#9">9</a></li>
		<li class="page-item"><a class="page-link page-10" href="#10">10</a></li>
		<li class="page-item"><a class="page-link page-10" href="#11">11</a></li>
		<li class="page-item"><a class="page-link page-12" href="#12">12</a></li>
		<li class="page-item"><a class="page-link page-13" href="#13">13</a></li>
		<li class="page-item"><a class="page-link page-14" href="#14">14</a></li>
		<li class="page-item"><a class="page-link page-15" href="#15">15</a></li>
		<li class="page-item"><a class="page-link page-16" href="#16">16</a></li>
		<li class="page-item"><a class="page-link page-17" href="#17">17</a></li>
		<li class="page-item"><a class="page-link page-18" href="#18">18</a></li>
		<li class="page-item"><a class="page-link page-19" href="#19">19</a></li>
		<li class="page-item"><a class="page-link page-20" href="#20">20</a></li>
		
	</ul>
</nav>
<table class="container table table-dark">
	<thead>
		<tr data-href='url://link-for-first-row/'>
			<th scope="col">id</th>
			<th scope="col">first name</th>
			<th scope="col">last name</th>
			<th scope="col">email</th>
			<th scope="col">gender</th>
			<th scope="col">ip</th>
			<th scope="col">total_clicks</th>
			<th scope="col">total_page_views</th>
		</tr>
	</thead>

	<tbody>
		<tr class="loading">
			<td>{% include "includes/loading.html" %}</td>
			<td>{% include "includes/loading.html" %}</td>
			<td>{% include "includes/loading.html" %}</td>
			<td>{% include "includes/loading.html" %}</td>
			<td>{% include "includes/loading.html" %}</td>
			<td>{% include "includes/loading.html" %}</td>
			<td>{% include "includes/loading.html" %}</td>
			<td>{% include "includes/loading.html" %}</td>
		</tr>
	</tbody>
</table>

{% endblock content%}

{% block script %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock%}